<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.mapper.PostMapper">

    <!-- 根据职务id查询职务对象-->
    <select id="findById"
            parameterType="java.lang.String"
            resultType="com.lanou.domain.Post">
        SELECT * FROM crm_post WHERE postId=#{vlaue}
    </select>

</mapper>